<div class="masthead">
  <div class="inner">
    <h3 class="masthead-brand"> Members Only! </h3>
    <nav>
      <ul class="nav masthead-nav">
        <% if signed_in? %>
          <li class="active">
            <%= link_to "#{current_user.name.capitalize}", user_path(current_user) %>
          </li>
          <li>
            <%= link_to 'Sign Out', sign_out_path, method: :delete %>
          </li>
        <% else %>
          <li class="active"> <%= link_to 'Sign In', signin_path %> </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>